.layout {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  height: 100vh;
  width: 100vw;

  &--wood {
    background-image: url("/images/texture_wood.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  &__brand {
    margin: auto;
    margin-bottom: 0;
    width: fit-content;
  }

  &__image {
    position: relative;
    height: 5rem;
    width: 10rem;
  }

  &__secondary {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__speaker {
    margin-top: 5rem;
  }

  &__control-panel {
  }

  &__screen-frame {
    padding: 2.5rem;
    height: 100%;
    width: 100%;

    &--metalic {
      border-radius: 1rem;
      border: 4px solid var(--gun-metal);
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("/images/texture_brushed_aluminum.jpg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
      box-shadow: 1px 1px 2rem #000 inset;
    }
  }
}

@media screen and (max-width: 700px) {
  .layout {
    padding: 1.5rem;

    &__screen-frame {
      padding: 1.5rem;
    }

    &__secondary {
      display: none;
    }
  }
}

@media screen and (max-height: 680px) {
  .layout {
    padding: 1.5rem;

    &__screen-frame {
      padding: 1.5rem;
    }
    
    &__speaker {
      display: none;
    }
  }
}
