.screen {
  position: relative;
  height: 100%;
  background-color: black;
  border-radius: 3rem;

  // Animated div used for power on / off
  &__animated {
    height: 100%;
    transform: scaleY(0.02) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

    &--off {
      transform: scale(1);
      animation: unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }

  &__container {
    height: 100%;
    padding: 0 4rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    border: 3px solid var(--gun-metal);
    border-radius: 3rem;
    background: repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1) 0.4rem,
        rgba(71, 71, 71, 0.2) 0.4rem,
        rgba(71, 71, 71, 0.2) 0.8rem
      ),
      url("/images/sydney_pixelated.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }

    &::before {
      content: " ";
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 3rem;
      opacity: 0.9;
      background-repeat: repeat-x;
      background-position: 50% 0;
      background-size: cover;
      background-image: url("/images/static_3.gif");
      z-index: 1;
    }

    & > * {
      z-index: 2;
    }
  }

  &__rainbow {
    opacity: 0;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background-repeat: repeat-x;
    background-position: 50% 0;
    background-size: cover;
    background-image: url("/images/static_rainbow_2.gif");
    z-index: 3;
    pointer-events: none;
  }

  &__body {
    display: flex;
    flex: 1;
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.02) scaleX(0);
  }
  50% {
    transform: scaleY(0.02) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.02) scaleX(1);
  }
  100% {
    transform: scaleY(0.02) scaleX(0);
  }
}

@media screen and (max-width: 900px) {
  .screen {
    &__container {
      padding: 0 1.5rem;
    }
  }
}
