:root {
  // Colors
  --vhs-yellow: #fff9a5;
  --vhs-blue: #8cd9e3;
  --vhs-pink: #ff81b7;
  --vhs-green: #52c752;

  --gun-metal: #232224;

  --black: #191b20;

  --gray-dark: #262730;
  --gray-medium: #3f4150;
  --gray-light: #6a6c80;

  --white-secondary: #fff;
  --white-primary: #e3e0e1;
  --white: #ffffff;

  --silver-dark: #b9b9b9;
  --silver-med-dark: #dddddd;
  --silver-med-light: #e1e1e1;
  --silver-light: #f6f6f6;

  --wood: #8e4f32;

  // Gradients
  --metalic-gradient: linear-gradient(
    135deg,
    #818181 0%,
    #7c7c7c 51%,
    #6d6d6d 68%,
    #474747 100%
  );
  --silver-gradient: linear-gradient(
    135deg,
    var(--silver-dark) 0%,
    var(--silver-med-dark) 51%,
    var(--silver-med-light) 68%,
    var(--silver-light) 100%
  );

  // Offsets
  --shadow-offset: 0.1rem;
}
