.carousel {
  :global(.slide) { padding-top: 0.8rem; }
  &__item {
    position: relative;
    height: 30rem;
  }

  &__arrow {
    border: 0;
    padding: 0;
    background: none;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    text-shadow: inherit;
    position: absolute;
    z-index: 2;
    top: calc(50% - 1.75rem);
    cursor: pointer;
    font-size: 3.5rem;

    &--left {
      left: 15px;
    }

    &--right {
      right: 15px;
    }
  }

  &__indicator-item {
    display: inline-block;
  }

  &__indicator {
    border: 0;
    padding: 0;
    background: none;
    color: inherit;
    line-height: inherit;
    text-shadow: inherit;
    cursor: pointer;
    font-size: 0.6rem;
    display: inline-block;
    margin: 0 0.3rem;

    &--active {
      color: var(--gray-light);
    }
  }
}
