.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  max-width: 94rem;
  margin: 3rem auto;
  padding-left: 2rem;
  border-left: 1px solid var(--vhs-blue);
}
@media (max-width: 700px) {
  .container {
    margin: 2rem 0;
    padding-left: 1.4rem;
  }
}
