.footer {
  display: flex;
  height: 4rem;
  width: 40rem;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;
}

@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    height: 10rem;
    width: 15rem;

    &__item {
      margin: 0.5rem 0;
    }
  }
}
