@use 'mixins.scss';
@font-face {
  font-family: "VCR_OSD_MONO";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/VCR_OSD_MONO_1.001.ttf);
}

html {
  font-weight: 400;
  font-size: 62.5%; // 10px most browsers
  letter-spacing: 0.15rem;
  background-color: var(--gray-50);
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  @extend .primary-text; // Defualt to glitch text
}

*,
*::before,
*::after {
  font-family: "VCR_OSD_MONO";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  font-size: 1.8rem;
  margin: 32px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0.5rem 0;
}

.primary-text {
  color: var(--white-primary);
  @include mixins.glitch-text-shadow;
}

.secondary-text {
  color: var(--white-secondary);
  @include mixins.glitch-text-shadow;
}

.link {
  color: var(--white-secondary);
  @include mixins.glitch-text-shadow;
  text-decoration: underline;

  &--dark {
    color: var(--gray-medium) !important;;
  }
}

.engraved-text {
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-weight: 600;
  color: var(--gray-medium);
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.not-selectable {
  user-select: none;
}

@media only screen and (min-width: 1800px) {
  // Site to scale with width
  html {
    font-size: 0.6vw;
  }
}