.container {
  padding: 0 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  height: 4rem;
  width: 30rem;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;

  span {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .footer {
    flex-direction: column;
    height: 7rem;
    width: 10rem;
  }
}