:root {
  // Colors
  --vhs-yellow: #FFF9A5;
  --vhs-blue: #8CD9E3;
  --vhs-pink: #FF81B7;

  --black: #191b20;

  --gray-dark: #262730;
  --gray-medium: #3F4150;
  --gray-light: #6A6C80;

  --off-white: #EFEBEE;
  --white: #ffffff;

  // Gradients
  // --gradient-gradient-45: linear-gradient(
  //   45deg,
  //   var(--a-dark),
  //   var(--b-light)
  // );

  // Offsets
  --shadow-offset: 0.1rem;
}