:root {
  // Colors
  --vhs-yellow: #FFF9A5;
  --vhs-blue: #8CD9E3;
  --vhs-pink: #FF81B7;
  --vhs-green: #52C752;

  --gun-metal: #232224;

  --black: #191b20;

  --gray-dark: #262730;
  --gray-medium: #3F4150;
  --gray-light: #6A6C80;

  --white-secondary: #9e9b93;
  --white-primary: #cec6cb;
  --white: #ffffff;

  // Offsets
  --shadow-offset: 0.1rem;
}